<%= link_to "[New User]", new_user_path %>

<div>List of Posts at this <strong>secret</strong> club house:</div>

<ul>
    <% @posts.each do |post| %>
        <li>
            <%= link_to post.title, post_path(post) %>
        </li>
    <% end %>
</ul>

<div>
    <%= link_to "[New Post]", posts_new_path %>
</div>



