<div>List of Posts at this <strong>secret</strong> club house:</div>

<ul>
    <% @posts.each do |post| %>
        <li>
            <a href="/posts/<%= post.id %>">
                <%= post.title %>
            </a>
        </li>
    <% end %>
</ul>

<div>
    <a href="/posts/new">
        [New Post]
    </a>
</div>



